.top-buffer { margin-top:50px; }
.portalTable{
	width:100%;
}
.portalTable thead tr{
	height:32px;
}
.portalTable thead tr th{
	background:#f2f2f2;
	padding-left:5px;
	height:32px;
}
.portalTable tbody tr{
	height:25px;
}
.portalTable tbody tr td{
	padding-left:5px;
	font-size:12px;
}
.portalTable tbody tr:nth-child(even){
	background:#f2f2f2;
}
.portalTable tbody tr:hover{
	background:#e5ffff;
	cursor:pointer;
	color:#000;
}
.portal-form-errors{
	padding:20px;
	padding-left:30px;
	background:#ffcccc;
	border-radius:10px;
	list-style:none;
}
.portal-form-errors li{
	color:#F00;
	font-weight:bold;
	padding-top:5px;
	padding-bottom:5px;
}
.center{
	text-align:center;
}